{% extends "base.html" %}

{% block content %}


    <h1>How to play Rock/Paper/Scissors</h1>
    <div class="keep_left">
        <p>1. Player 1 enters a forward slash after 5000 in the browser. Now pick rock, paper or scissors and enter it after the slash.</p>
        <p>2. Following player 1's answer, player 2 does the same</p>
        <p>3. Refresh the page</p>
    </div>
    
    <nav>
        <p>Click <a href="/player1_choice/player2_choice">here</a> to go back to the game</p>
    </nav>
    
{% endblock %}
